:host {
    display: flex;
    justify-content: center;
}

.card {
    flex-direction: row;
}

.link {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.link.active {
    outline: 1px solid #fff;
    border-radius: 5px;
}
