:host {
    position: relative;
    margin-left: 20px;
}

h1 {
    overflow-wrap: anywhere;
}

textarea {
    resize: none;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    color: #fff;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
