:host {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
    color: #fff;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    padding: 0;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.task-input:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.pointer {
    cursor: pointer;
}

.pagination {
    display: flex;
    align-items: center;
}

mat-spinner {
    align-self: center;
}

select {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 1.1rem;
}
