<div class="card">
  <div class="card-header">
    <h1>To Do List</h1>
    <div class="pagination">
      <mat-icon appTitle="Previous page" class="pointer" (click)="previousPage()">keyboard_arrow_left</mat-icon>
      <span>{{ currentPage() }} / {{ totalPages }}</span>
      <mat-icon appTitle="Next page" class="pointer" (click)="nextPage()">keyboard_arrow_right</mat-icon>
    </div>
  </div>

  @if (!isLoading()) {
  <ul>
    @for (task of getSlicedTasks(); track task.id) {
    <app-to-do-list-item [task]="task" (select)="selectItem(task.id)" [selected]="selectedItemId() === task.id"
      (remove)="deleteTask(task.id)" [editTitle]="editTitleId() === task.id"
      (setEditTitleId)="setEditTitleId(task.id)"></app-to-do-list-item>
    }
  </ul>
  } @else {
  <mat-spinner></mat-spinner>
  }

  <div class="card-footer">
    <input class="task-input" type="text" [(ngModel)]="inputValue" (keyup.enter)="addTask()" />
    <app-button appTitle="Add" (click)="addTask()" [disabled]="validateInputValue()">Add Task</app-button>
  </div>
</div>