<div class="link" [routerLink]="['/backlog', task().id]" routerLinkActive="selected">
    <li class="item" [class]="{ done: task().status === 'completed' }" animate.enter="pop-in">
        <div class="item-content">
            @if (editTitle()) {
            <input type="text" [(ngModel)]="taskTitle" />
            } @else {
            <h1 (dblclick)="setEditTitleId.emit(task().id)">{{ task().name }}</h1>
            }
        </div>

        @if (editTitle()) {
        <div class="item-controls">
            <mat-icon appTitle="Save" (click)="saveTitle()">save</mat-icon>
            <mat-icon appTitle="Cancel" (click)="cancelEditing()">cancel</mat-icon>
        </div>
        } @else {
        <div class="item-controls">
            <mat-icon appTitle="Delete" class="button-delete" (click)="remove($event)">delete</mat-icon>
        </div>
        }
    </li>
</div>