* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    background: linear-gradient(to bottom right, #9972fb, #eed4ff);
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #fff;
}

mat-spinner circle {
    stroke: #fff;
}

.task-input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 1.1rem;
}

.card {
    background: linear-gradient(130deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    gap: 16px;
    display: flex;
    flex-direction: column;
    width: 410px;
}
